<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Let us use your location!</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Let us use your location when you're using the app!</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>BeerTemplate</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>shortcutSubtitleCreateInvite</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleCreateInvite</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).CreateInvite</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>3</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>StarTemplate</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleViewLists</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).ViewLists</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>3</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>EyeTemplate</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>shortcutSubtitleViewInvites</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>shortcutTitleViewInvites</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).ViewInvites</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>3</string>
			</dict>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
